@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
}
#root {
    height: 100%;
}

@keyframes openModal {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}
.slow-modal-trans {
    animation: openModal 0.7s;
}

@keyframes closeModal {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}
.slow-modal {
    animation: closeModal 0.7s;
}
